$col-num : 12;
$break-points : (1560px, 40px), (1320px, 40px), (960px, 20px), (768px, 40px), (480px, 15px);
$screen-num : length($break-points);

.float-left{float: left}
.min-height-1{min-height: 1px;}

.row, .container{@extend .clearfix;}
.container{margin-left: auto; margin-right: auto; position: relative;}
.screendev{position: fixed; top: 0; left: 0; color: #ff0000; padding: 5px; background-color: #fff}
.no-spaceing{margin-left: 0 !important; .ie6 &{margin-left: 0}}

@mixin responsive($device-index){

  @if($device-index == 1){
    @content;
  } @else {
    $bp-index : $device-index ;
    @if($device-index <= $screen-num + 1) {
      $bp-index : $bp-index - 1;
    }
    $device : nth($break-points, $bp-index);
    $bp : nth($device, 1);
    $sp : nth($device, 2);
    @media (max-width: ($bp - 1)) {
      @content;
    }
  }
}


//给所有组件赋默认值
@for $device-index from 1 through $screen-num{
  @for $col-index from 1 through $col-num{
    .bc#{$device-index}-#{$col-index}{@extend .float-left; @extend .min-height-1; _display:inline}
    .cc#{$device-index}-#{$col-index}{@extend .float-left; @extend .min-height-1;_display:inline}
    .c#{$device-index}-#{$col-index}{@extend .float-left; @extend .min-height-1;_display:inline;}
  }
}


@mixin loop-sub-device($device-index){
  $device : nth($break-points, $device-index);
  $bp : nth($device, 1);
  $sp : nth($device, 2);
  $col-width : $bp / $col-num;

  //比跳变点低的分辨率
  @for $sub-dev-index from 1 through $device-index{
    @for $c from 1 through $col-num{
      .bc#{$sub-dev-index}-#{$c}{width: $col-width * $c; margin-left: $sp}
      .cc#{$sub-dev-index}-#{$c}{width: $col-width * $c - $sp; margin-left: 0}
      .c#{$sub-dev-index}-#{$c}{width: $col-width * $c - $sp; margin-left: $sp}
    }
  }
}

//循环所有屏幕分辨率
@for $i from $screen-num through 1{
  $device : nth($break-points, $i);
  $bp : nth($device, 1);
  $sp : nth($device, 2);

  @media (min-width : $bp) {
    .container{width: $bp - $sp;};
    .row{margin-left: 0 - $sp; }
    .screendev:before{content: "C#{$i}>#{$bp} "};
    .screendev span:before{content: "Width:#{$bp / 12} Spacing:#{$sp}"}
    @include loop-sub-device($i);
  }
}


//手机分辨率才用不同的计算方式
$last-device : nth($break-points, $screen-num);
$last-device-bp : nth($last-device, 1);
$last-device-sp :  nth($last-device, 2);
@media (max-width: $last-device-bp - 1){

  $bp : $last-device-bp;
  $sp : $last-device-sp;
  $col-width : $bp / $col-num;

  .container{margin-left: $sp; margin-right: $sp;}
  .row{margin-left: 0 - $sp; margin-right:0 - $sp;}
  .no-spaceing{padding-left: 0; padding-right: 0}
  .screendev:before{content: "C#{$screen-num+1} < #{$bp}"};
  .screendev span:before{content: "Width:#{$bp / 12} Spacing:#{$sp}"}

  @for $device-index from 1 through $screen-num + 1{
    @for $col-index from 1 through $col-num{
      .c#{$device-index}-#{$col-index}, .bc#{$device-index}-#{$col-index}, .cc#{$device-index}-#{$col-index}{width: percentage($col-index / $col-num); padding-left: $sp; padding-right: $sp; box-sizing: border-box}
    }
  }
}


@for $device-index from 1 through $screen-num + 1{
  @include responsive($device-index){
    .hidden#{$device-index}{display: none;}
    .visible#{$device-index}{display: block ;}
    .hidden-inline#{$device-index}{display: none ;}
    .visible-inline#{$device-index}{display: inline;}
  }
}
